

#meaning{
    text-align: center;
}
hr {
	
	color: #8c8b8b;
}
.commentContainer{
    
    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 20px;
}
.commentText{
    margin: 10px; 
    display: block;
}
.edit{
    
    background-color: lightgrey;
    border-radius: 10px;
    margin-left: 20px
}
.remove{
    background-color: lightcoral;
    border-radius: 10px;
    margin-right: 10px;
    
}
.save{
    background-color: lightgreen;
    border-radius: 10px;   
}
.like{
    background-color: #90C6EE;
    border-radius: 10px; 
    margin-right: 10px;  
}
.textareaContainer{
    width: 500px;
    margin: 10px 0;
}
.textareaContainer1{
    width: 200px;
    margin: 10px 0;
}
.add{
    
      
}
.buttonlike{
    border:none;
    background-color: white;
}
.likeStory,.edit,.remove{
    margin-left: 5px;  
     width: 25px;
}
.addNew *{
    display: block;
}


